[submodule "PowerEngine/vendor/spdlog"]
	path = PowerEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "PowerEngine/vendor/GLFW"]
	path = PowerEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
